name: Build
on:
  workflow_dispatch:
    inputs:
      onnxruntime-ref:
        type: string
        description: "ONNX Runtime repository reference, e.g., 'rel-1.21.0' or 'main'"
        default: main
env:
  GCC_VERSION: '11'
  CMAKE_VERSION: '3.28'
  PYTHON_VERSION: '3.10'
  NODE_VERSION: '18'
  XCODE_VERSION: '14.3.1'
  MACOSX_DEPLOYMENT_TARGET: '13.0' # Should be 13.3 according to https://github.com/microsoft/onnxruntime/releases/tag/v1.21.0.
jobs:
  build:
    name: Build
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: aarch64-unknown-linux-gnu
            args: "-A aarch64 --xnnpack --webgpu --openvino -N"
            runs-on: ubuntu-22.04
            arch: "arm64" # Defined again for OpenVINO setup.
          - target: x86_64-unknown-linux-gnu
            args: "--xnnpack --webgpu --openvino -N"
            runs-on: ubuntu-22.04
            arch: "x86_64"
          - target: aarch64-apple-darwin
            args: "-A aarch64 --coreml --xnnpack --webgpu --openvino -N"
            runs-on: macos-13
            arch: "arm64"
          - target: x86_64-apple-darwin
            args: "--coreml --xnnpack --webgpu --openvino -N"
            runs-on: macos-13
            arch: "x86_64"
          - target: x86_64-pc-windows-msvc-md
            args: "--directml --xnnpack --webgpu --openvino"
            runs-on: windows-2025
            arch: "x86_64"
          - target: x86_64-pc-windows-msvc-mt
            args: "--mt --directml --xnnpack --webgpu --openvino"
            runs-on: windows-2025
            arch: "x86_64"
          - target: wasm32-unknown-emscripten
            args: "-W --webgpu"
            runs-on: ubuntu-22.04
            arch: "wasm32"
    steps:
      - name: Install cross-compile tools
        if: matrix.target == 'aarch64-unknown-linux-gnu'
        run: |
          sudo apt update && sudo apt install -y gcc make gcc-11-aarch64-linux-gnu g++-11-aarch64-linux-gnu binutils-aarch64-linux-gnu
      - name: Remove unnecessary software
        if: runner.os == 'Linux'
        run: |
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          sudo docker image prune --all --force
      - uses: actions/checkout@v4
      - uses: seanmiddleditch/gha-setup-ninja@v6
      - uses: abrown/install-openvino-action@v9
        if: matrix.arch == 'x86_64' || matrix.arch == 'arm64'
        with:
          version: "2024.5"
          arch: ${{ matrix.arch }}
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - name: Run builder
        run:
          deno run -A src/build.ts -r ${{ inputs.onnxruntime-ref }} ${{ matrix.args }}
      - uses: actions/upload-artifact@v4
        with:
          name: ort-${{ inputs.onnxruntime-ref }}-${{ matrix.target }}
          path: artifact
          if-no-files-found: error
